<!DOCTYPE html>
<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KTBFS4Z');</script>
    <!-- End Google Tag Manager -->

    <title>The Generics | Store</title>
    <meta name="description" content="This is the description">
    <link rel="stylesheet" href="styles.css" />
    <script src="//checkout.stripe.com/checkout.js" defer></script>
    <script>
        var stripePublicKey = '<%= stripePublicKey %>'
    </script>
    <script src="index.js" defer></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTBFS4Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="main-header">
        <nav class="main-nav nav">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
            </ul>
        </nav>
        <h1 class="band-name band-name-large">The Generics</h1>
    </header>
    <section class="container content-section">
        <h2 class="section-header">MUSIC</h2>
        <div class="shop-items">
            <% items.music.forEach(function(item) { %>
            <div class="shop-item" data-item-id="<%= item.id %>">
                <span class="shop-item-title"><%= item.name %></span>
                <img class="shop-item-image" src="Images/<%= item.imgName %>">
                <div class="shop-item-details">
                    <span class="shop-item-price">$<%= item.price / 100 %></span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <% }) %>
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">MERCH</h2>
        <div class="shop-items">
            <% items.merch.forEach(function(item) { %>
            <div class="shop-item" data-item-id="<%= item.id %>">
                <span class="shop-item-title"><%= item.name %></span>
                <img class="shop-item-image" src="Images/<%= item.imgName %>">
                <div class="shop-item-details">
                    <span class="shop-item-price">$<%= item.price / 100 %></span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <% }) %>
        </div>

    </section>
    <section class="container content-section">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
    </section>
    <footer class="main-footer">
        <div class="container main-footer-container">
            <h3 class="band-name">The Generics</h3>
            <ul class="nav footer-nav">
                <li>
                    <a href="https://www.youtube.com" target="_blank">
                        <img src="Images/YouTube Logo.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.spotify.com" target="_blank">
                        <img src="Images/Spotify Logo.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="Images/Facebook Logo.png">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>